PBS_REPOSITORY={{ config.server.user }}@{{ config.server.host }}{% if config.server.port is defined %}:{{ config.server.port }}{% endif %}:{{ config.server.datastore }}
PBS_PASSWORD={{ config.server.pass }}
{% if config.server.fingerprint is defined %}PBS_FINGERPRINT={{ config.server.fingerprint }}{% endif %}

{% if config.client.encrypt.pass is defined %}PBS_ENCRYPTION_PASSWORD={{ config.client.encrypt.pass }}{% endif %}
{% if config.client.output.format is defined %}PBS_OUTPUT_FORMAT={{ config.client.output.format }}{% endif %}
{% if config.client.output.border is defined %}PBS_OUTPUT_NO_BORDER={{ config.client.output.border }}{% endif %}
{% if config.client.output.header is defined %}PBS_OUTPUT_NO_HEADER={{ config.client.output.header }}{% endif %}