# /etc/systemd/system/proxmox-backup-client.service
[Unit]
Description=Proxmox Backup Client
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot

EnvironmentFile=/etc/pbs-env

ExecStart=proxmox-backup-client backup \
{% if config.server.encrypt.key is defined %}
                --keyfile {{ config.client.encrypt.key }} \
{% endif %}
{% if config.server.namespace is defined %}
                --ns {{ config.server.namespace }} \
{% endif %}
{% if config.client.skip_lost_found is defined %}
                --skip-lost-and-found true \
{% endif %}
{% if config.client.include_devices is defined %}
{% for dev in config.client.include_devices %}
                --include-dev {{ dev }} \
{% endfor %}
{% endif %}
{% for archive in config.client.archives %}
                {{ archive.name }}{{ archive.format }}:{{ archive.path }}{{ " \\" if not loop.last else '' }}
{% endfor %}